$green: #229933;
$grey-1: #9c9c9c;

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #040404;
}

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: $green;
    text-decoration: none;
}

hr {
    border-top: 1px solid $green;
    border-bottom: 0;
}

input, button, select, optgroup, textarea {
    font-family: inherit;
}

pre {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    code {
        white-space: pre-wrap !important;
        word-wrap: anywhere !important;
    }
}
.message {
    word-wrap: anywhere;
}

@media(min-width:576px) {
    .container {
        max-width:540px
    }
}
@media(min-width:768px) {
    .container {
        max-width:720px
    }
}
@media(min-width:992px) {
    .container {
        max-width:960px
    }
}
@media(min-width:1200px) {
    .container {
        max-width:1140px
    }
}

.container {
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .col-100 {
        flex-basis: 100%;
    }
    .col-50 {
        flex-basis: 50%;
    }
    .col-30 {
        flex-basis: 30%;
    }
    .col-25 {
        flex-basis: 25%;
    }
}
.row.space-even {
    justify-content: space-evenly;
}

.m-auto {
    margin: auto;
}

.mt-2 {
    margin-top: 2em;
}

.d-inline {
    display: inline;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: $grey-1;
}

ul.nav {
    list-style: none;
    padding: 0;
    border-bottom: 1px solid $green;
    padding-bottom: 7px;

    li.nav-item {
        display: inline;
        padding: 10px 20px;
        border: 1px solid $green;
        border-bottom: none;
        border-radius: 10px 10px 0px 0px;
        margin-right: 5px;

        a.active {
            color: #772953;
        }
    }
}

.posts {
    flex-grow: 1;
    flex-basis: 75%;
    padding-right: 10px;
}
.reply-form {
    flex-basis: 25%;
}

.post {
    border: 1px solid rgb(168, 168, 168);
    border-radius: 2px;
    padding: 5px;
    background-color: rgba(227, 235, 226, 0.342);
    
    
    // .post {
    //     margin-left: 10px;
    // }

    .post-head {
        display: flex;
        justify-content: space-between;

        .btn-collapse {
            background: none;
            border: none;
        }
    }
}

.post-highlight {
    background-color: #ececec !important;
    box-shadow: -2px 0 0 0px #772953 !important;
}
.post-reply {
    border: 1px solid #E95420 !important;
}

.sticky-top {
    top: 1rem;
    position: sticky;
}

.page-footer{
    display: flex;
    justify-content: space-between;
}
.btn {
    display: inline-block;
    font-weight: 600;
    border: 0 solid transparent;
    padding: .75rem 1.5rem;
    line-height: 1.5rem;
border-radius: 0;

}
.btn-primary {
    color: #fff;
    background-color: #1a1a1a;
    border-color: #1a1a1a;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 0px);
    padding: .75rem 1.5rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #f7f7f9;
    background-clip: padding-box;
    border: 0 solid #ced4da;
    border-radius: 0;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group > .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-group-append {
    margin-left: 0;
    display: flex;
    .btn {
        position: relative;
        z-index: 2;
    }
}
textarea.form-control {
    height: auto;
}
textarea {
    overflow: auto;
    resize: vertical;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 0px);
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 1.5rem + 0px);
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 1.5rem + 0px);
    padding: .75rem 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #f7f7f9;
    border: 0 solid #ced4da;
    overflow: hidden;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}


/* Cards */

.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}