body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #50717b;
  text-decoration: none;
}

hr {
  border-top: 1px solid #50717b;
  border-bottom: 0;
}

input, button, select, optgroup, textarea {
  font-family: inherit;
}

pre {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}

pre code {
  white-space: pre-wrap !important;
  word-wrap: anywhere !important;
}

.message {
  word-wrap: anywhere;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container {
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row .col-100 {
  flex-basis: 100%;
}

.row .col-50 {
  flex-basis: 50%;
}

.row .col-30 {
  flex-basis: 30%;
}

.row .col-25 {
  flex-basis: 25%;
}

.row .col-20 {
  flex-basis: 20%;
}

.row .col-g {
  flex-grow: 1;
}

.space-even {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.m-auto {
  margin: auto;
}

.mt-2 {
  margin-top: 2em;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
}

.float-right {
  float: right;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #9c9c9c;
}

.border-left {
  border-left: 1px solid #50717b;
  margin-left: 10px;
}

ul.nav {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid #50717b;
  padding-bottom: 7px;
}

ul.nav li.nav-item {
  display: inline;
  padding: 10px 20px;
  border: 1px solid #50717b;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  margin: 5px;
}

ul.nav li.nav-item a.active {
  color: #3a4042;
  font-weight: bold;
}

ul.boards-list {
  list-style: none;
  border: 1px solid #50717b;
  margin: 0;
  padding: 10px;
}

ul.boards-list li {
  border-bottom: 1px solid #50717b;
}

ul.boards-list li a {
  font-size: 1.4em;
}

ul.boards-list li:last-child {
  border-bottom: none;
}

ul.list-group {
  list-style: none;
  margin: 0;
}

.posts {
  flex-grow: 1;
  flex-basis: 75%;
  padding-right: 10px;
}

.reply-form {
  flex-basis: 25%;
}

.post {
  border: 1px solid #a8a8a8;
  border-radius: 2px;
  padding: 5px;
  background-color: rgba(227, 235, 226, 0.342);
}

.post .post-head {
  display: flex;
  justify-content: space-between;
}

.post .post-head .btn-collapse {
  background: none;
  border: none;
}

.post-image {
  max-width: 100%;
}

.post-highlight {
  background-color: #ececec !important;
  box-shadow: -2px 0 0 0px #772953 !important;
}

.post-reply {
  border: 1px solid #E95420 !important;
}

.sticky-top {
  top: 1rem;
  position: sticky;
}

.page-footer {
  display: flex;
  justify-content: space-between;
}

.btn {
  font-weight: 600;
  border: 0 solid transparent;
  padding: 0.5rem 1.5rem;
  line-height: 1.5rem;
  border-radius: 0;
  background-color: #50717b;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  outline: 0;
}

.btn:hover {
  background: #3a4042;
}

.btn-warning {
  background-color: #ff6b6b;
}

.btn-warning:hover {
  background-color: #ee5253;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.5rem + 0px);
  padding: .75rem 1.5rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
  background-color: #f7f7f9;
  background-clip: padding-box;
  border: 0 solid #ced4da;
  border-radius: 0;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.input-group > .form-control {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group-append {
  margin-left: 0;
  display: flex;
}

.input-group-append .btn {
  position: relative;
  z-index: 2;
}

textarea.form-control {
  height: auto;
}

textarea {
  overflow: auto;
  resize: vertical;
}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 1.5rem + 0px);
  margin-bottom: 0;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 1.5rem + 0px);
  margin: 0;
  opacity: 0;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + 1.5rem + 0px);
  padding: .75rem 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212121;
  background-color: #f7f7f9;
  border: 0 solid #ced4da;
  overflow: hidden;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

/* Admin */
.banned-list, .user-list, .filter-list {
  padding: 10px;
}

.banned-list li, .user-list li, .filter-list li {
  background-color: #8ecccc;
  margin: 5px 0;
  padding-left: 10px;
}

/* Background */
.bg-light {
  background-color: #8ecccc;
}

/* Cards */
.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

/* Alerts */
.alert button {
  border: 0;
  background: none;
  color: #fff;
  float: right;
  font-size: 1.5em;
  line-height: 1em;
}

.alert-success {
  background-color: #50717b;
  color: #fff;
  padding: 15px;
}
