{% extends 'secure/admin/index.html.twig' %}

{% block title %}Admin Dashboard - Word Filter
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-50 m-auto">
            {% set button_label = 'Update' %}
            {{ include('secure/admin/wordfilter/_wordfilter_form.html.twig') }}
        </div>
    </div>
{% endblock %}