{% extends 'admin/index.html.twig' %}

{% block title %}Admin Dashboard - User Edit
{% endblock %}

{% block adminsection %}
    <div class="row">
        <div class="col-50 m-auto">
            {% set button_label = "Save" %}
            {{ include('admin/users/_password_form.html.twig') }}
        </div>
    </div>
{% endblock %}
