{% extends 'base.html.twig' %}

{% block title %}Edit Board Password{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="forms">Edit Board</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
        {{ include('board_admin/_form.html.twig', {'button_label': 'Update'}) }}
        <a class="btn" href="{{ path('board_editpassword', {'name': board.name }) }}">Update Password</a>

        <a href="{{ path('board_index') }}">back to list</a>

        {{ include('board_admin/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
