{% if is_granted('ROLE_ADMIN') %}
    {% set parent_template = 'secure/admin/index.html.twig' %}
{% else %}
    {% set parent_template = 'secure/user/index.html.twig' %}
{% endif %}

{% extends parent_template %}

{% block title %}Board List{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-g">
            <h3>Create Board</h3>
            {{ include('secure/manage_boards/_form.html.twig') }}
        </div>
        <div class="col-g border-left">
            <ul class="list-group admin-board-list">
                {% for board in boards %}
                <li class="list-group-item d-flex space-between align-items-center">
                    {{ board.name }}
                    <div>
                        {{ include('secure/manage_boards/_removeboard_form.html.twig') }}
                    </div>
                </li>
                {% else %}
                    <li>No boards found.<li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
