{% extends 'admin/index.html.twig' %}

{% block title %}Admin Dashboard - Word Filter
{% endblock %}

{% block adminsection %}
    <div class="row">
        <div class="col-g">
            <ul class="boards-list">
                <li class="d-flex space-between">
                    <span>Board Name</span>
                    <span>Action</span>
                </li>
                {% for board in boards %}
                <li class="d-flex space-between">
                    <span>{{ board.name }}</span>
                    <div>
                        <form method="post" action="{{ path('admin_board_delete', {'name': board.name}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ board.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>

                    </div>
                </li>
                {% else %}
                    <li>No boards found.<li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
