{% extends 'base.html.twig' %}

{% block title %}IP
{% endblock %}

{% set childLevel = true %}
{% block body %}
        {% for post in posts %}
        <div class="row">
            <div class="col-100">
                {% include 'post/_post.html.twig' %}
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-12">
                <p>No posts to show.</p>
            </div>
        </div>
        {% endfor %}
{% endblock %}
