{% extends 'admin/index.html.twig' %}

{% block title %}Admin Dashboard - Users
{% endblock %}

{% block adminsection %}
    <div class="row">
        <div class="col-6">
            {{ include('admin/_adminuser_form.html.twig') }}
        </div>
        <div class="col-6">
            <ul class="list-group">
                {% for user in users %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ user.username }}
                        <a class="btn btn-primary" href="{{ path('admin_user_edit', {'id': user.id}) }}">Edit</a>
                        {# {{ include('admin/_removeuser_form.html.twig') }} #}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
