{% extends 'admin/index.html.twig' %}

{% block title %}Admin Dashboard - Word Filter
{% endblock %}

{% block adminsection %}
    <div class="row">
        <div class="col-g">
            {{ include('admin/_wordfilter_form.html.twig') }}
        </div>
        <div class="col-g border-left">
            <ul class="list-group filter-list">
                {% for word in word_filter_strings %}
                    <li class="list-group-item d-flex space-between align-items-center">
                        {{ word.badWord }}
                        <div>
                            <div>
                                <a class="btn btn-primary d-block text-center">Edit</a>
                            </div>
                            {{ include('admin/_removebadword_form.html.twig') }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
