$green: #4CAF50;
$green-light: #d5e0d7;
$green-dark: #43A047;
$red: #ff6b6b;
$red-dark: #ee5253;
$blue: #48dbfb;
$blue-light: #00d2d3;
$blue-dark: #0abde3;
$grey-1: #9c9c9c;

$anchor-color: #34345c;

// $primary: #50717b;
$primary: #b7c5d9;
$primary-light: #d6daf0;
$primary-dark: #3a4042;
$primary-highlight: #d6bad0;
$primary-alt: #e4f0d6;

$black: #212121;

$border-radius: 1px;

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.5;
    color: $black;
    margin-top: 5px;
    background-color: #eef2ff;
}

*, ::before, ::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: $anchor-color;
    text-decoration: none;
}

hr {
    border-top: 1px solid $primary;
    border-bottom: 0;
}

input, button, select, optgroup, textarea {
    font-family: inherit;
}

pre {
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
    code {
        white-space: pre-wrap !important;
        word-wrap: anywhere !important;
    }
}
.message {
    word-wrap: anywhere;
}

@media(min-width:576px) {
    .container {
        max-width:540px
    }
}
@media(min-width:768px) {
    .container {
        max-width:720px
    }
}
@media(min-width:992px) {
    .container {
        max-width:960px
    }
}
@media(min-width:1200px) {
    .container {
        max-width:1140px
    }
}

.container {
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;

    .col-100 {
        flex-basis: 100%;
    }
    .col-80 {
        flex-basis: 80%
    }
    .col-50 {
        flex-basis: 50%;
    }
    .col-30 {
        flex-basis: 30%;
    }
    .col-25 {
        flex-basis: 25%;
    }
    .col-20 {
        flex-basis: 20%;
    }

    .col-g {
        flex-grow: 1;
    }
}
.space-even {
    justify-content: space-evenly;
}
.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.m-auto {
    margin: auto;
}

.mt-1 {
    margin-top: 1em;
}
.mt-2 {
    margin-top: 2em;
}
.mt-p5 {
    margin-top: 5px;
}
.mb-1 {
    margin-bottom: 1em;
}

.d-block {
    display: block;
}
.d-inline {
    display: inline;
}
.d-flex {
    display: flex;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: $grey-1;
}

.border {
    border: 1px solid $primary;
}
.border-left {
    border-left: 1px solid $primary;
    margin-left: 10px;
}
.border-right {
    border-right: 1px solid $primary;
    margin-right: 10px;
}
.border-thick {
    border-width: 3px;
}

ul.nav {
    list-style: none;
    padding: 0;
    padding-bottom: 7px;

    li.nav-item {
        display: inline;
        margin: 5px;
        font-weight: bold;

        a {
            padding: 10px 20px;
        }

        a.active {
            color: $anchor-color;

            border-bottom: 2px solid $anchor-color
        }
    }
}

ul.nav.nav-pills {
    border-bottom: 1px solid $primary;

    li.nav-item {
        border: 1px solid $primary;
        border-bottom: none;
        border-radius: $border-radius $border-radius 0px 0px;
    }
}

ul.boards-list {
    list-style: none;
    border: 1px solid $primary;
    margin: 0;
    padding: 10px;
    li:first-child {
        font-weight: bold;
    }
    li {
        border-bottom: 1px solid $primary;
        font-size: 1.4em;
    }
    li:last-child {
        border-bottom: none;
    }

    a.list-group-item-action:hover {
        background-color: $primary;
        color: #fff;
    }
}

ul.list-group {
    list-style: none;
    margin: 0;
}

/* Pagination */
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: $border-radius;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}
.page-item:last-child .page-link {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}
.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: $black;
    border: 1px solid $primary;
    border-top: none;
    border-left: none;
    background-color: $primary-light;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $primary;
}
.page-item.disabled .page-link {
    color: $grey-1;
    pointer-events: none;
    cursor: auto;
}

.posts {
    flex-grow: 1;
    flex-basis: 75%;
    padding-right: 10px;
}
.reply-form {
    flex-basis: 25%;
}

.post-container {
    padding-left: 5px;
    border-left: 1px solid $primary;
}

.post {
    border: 1px solid $primary;
    border-top: none;
    border-left: none;
    border-radius: $border-radius;
    padding: 5px;
    background-color: $primary-light;
    
    .post-body {
        display: flex;
        flex-wrap: wrap;
    }

    .post-head {
        display: flex;
        justify-content: space-between;

        .btn-collapse {
            background: none;
            border: none;
        }
    }

    .col-20 {
        video {
            max-width: 100%;
        }
    }
}
.post-fresh .post {
    background-color: $primary-alt;
}
.collapsed .post-body{
    display: none;
}
.post-container.collapsed .post-container {
    display: none;
}

.reply_button {
    font-family: 'Courier New', Courier, monospace;
}

.post-image {
    max-width: 100%;
}

.post-highlight {
    background-color: $primary-highlight !important;
}
.post-reply {
    border: 1px solid $primary-highlight !important;
}

.sticky-top {
    top: 1rem;
    position: sticky;
}

.page-footer{
    display: flex;
    justify-content: space-between;
}
.btn {
    // display: inline-block;
    font-weight: 600;
    border: 0 solid transparent;
    padding: 0.5rem 1.5rem;
    line-height: 1.5rem;
    border-radius: 0;
    background-color: $primary;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
}
.btn:hover {
    background: $primary-dark;
}

.btn-warning {
    background-color: $red;
}
.btn-warning:hover {
    background-color: $red-dark;
}

// .btn-primary {
//     color: #fff;
//     background-color: #1a1a1a;
//     border-color: #1a1a1a;
// }
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 0px);
    padding: .75rem 1.5rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: $black;
    background-color: #fff;
    background-clip: padding-box;
    border: 0 solid #ced4da;
    border-radius: 0;
}
.form-control[readonly="true"] {
    background-color: #d1d1d4;
    color: #353535;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}
.input-group > .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.input-group-append {
    margin-left: 0;
    display: flex;
    .btn {
        position: relative;
        z-index: 2;
    }
}
textarea.form-control {
    height: auto;
}
textarea {
    overflow: auto;
    resize: vertical;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 1.5rem + 0px);
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 0;
    width: 100%;
    height: calc(1.5em + 1.5rem + 0px);
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 1.5rem + 0px);
    padding: .75rem 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: $black;
    background-color: #fff;
    border: 0 solid #ced4da;
    overflow: hidden;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + 1.5rem);
    padding: .75rem 1.5rem;
    content: "Browse";
    background-color: $primary;
    border-left: inherit;
    font-weight: 600;
    border: 0 solid transparent;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    outline: 0;
}
.custom-file-label:hover::after {
    background: $primary-dark;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}

/* /login */
.register-form {
    padding-left: 10px;
}

/* Admin */
.banned-list, .user-list, .filter-list, .admin-board-list {
    padding: 10px;

    li {
        background-color: $primary-light;
        margin: 5px 0;
        padding-left: 10px;
    }
}

#new_user_roles, #user_name_roles {
    height: 100px;
}

/* Background */
.bg-light {
    background-color: $primary-light;
}


/* Cards */
.card {
    border: 1px solid $primary;
    border-radius: $border-radius;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: $primary;
    border-bottom: 1px solid $primary;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    background-color: $primary-light;
}

/* Alerts */

.alert {
    button {
        border: 0;
        background: none;
        color: #fff;
        float: right;
        font-size: 1.5em;
        line-height: 1em;
    }
}

.alert-success {
    background-color: $primary;
    color: #fff;
    padding: 15px;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s linear;
}