{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-100">
            <div class="page-header">
                <h1 id="board_index">Boards
                    {# {% if is_granted('ROLE_ADMIN') %} #}
                    <a class="btn btn-sm btn-dark float-right" href="{{ path('board_new') }}">New Board</a>
                    {# {% endif %} #}
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-100">
            <ul class="boards-list">
                <li class="d-flex space-between">
                <span>Board Name</span>
                <span>Post Count</span>
                </li>
            {% for board in boards %}
                    <li class="">
                        <a href="{{ path('board_show', {'name': board.name}) }}" class="list-group-item list-group-item-action mb-2 d-flex space-between">
                            <span>{{ board.name }}</span>
                            <span>{{ postCount[board.name] }}</span>
                        </a>
                    </li>
            {% else %}
            <li>No boards found.<li>
            {% endfor %}
            </ul>
            </div>
    </div>
{% endblock %}
