{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-100">
            <div class="page-header">
                <h1 id="board_index">Boards
                    {% if setting('anon_can_create_board') %}
                    <a class="btn btn-sm btn-dark float-right" href="{{ path('board_new') }}">New Board</a>
                    {% endif %}
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-100">
            {{ include('board/_boardlist.html.twig') }}
            </div>
    </div>
{% endblock %}
