{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-100">
            <div class="page-header">
                <h1 id="board_index">Boards
                    {# {% if is_granted('ROLE_ADMIN') %} #}
                    <a class="btn btn-sm btn-dark float-right" href="{{ path('board_new') }}">New Board</a>
                    {# {% endif %} #}
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-100">
            <ul class="boards-list">
            {% for board in boards %}
                    <li>
                    <a href="{{ path('board_show', {'name': board.name}) }}" class="list-group-item list-group-item-action mb-2">
                        {{ board.name }}
                    </a>
                    </li>
            {% else %}
            No boards found.
            {% endfor %}
            </ul>
            </div>
    </div>
{% endblock %}
