{% extends 'base.html.twig' %}

{% block title %}Boards
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="board_index">Boards
                    <a class="btn btn-sm btn-dark float-right" href="{{ path('board_new') }}">New Board</a>
                </h1>
            </div>
        </div>
    </div>
    <div class="row text-center">
        {% if boards|length %}
            {% for col in boards|batch(boards|length/3) %}
                <div class="col-lg-4">
                    <div class="list-group list-group-flush">
                        {% for board in col %}
                            <a href="{{ path('board_show', {'name': board.name}) }}" class="list-group-item list-group-item-action">
                                {{ board.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <span class="list-group-item">No boards found.</span>
        {% endif %}
    </div>
{% endblock %}
