{% extends 'base.html.twig' %}

{% block title %}Board index{% endblock %}

{% block body %}
    <h1>Board index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for board in boards %}
            <tr>
                <td>{{ board.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('board_show', {'name': board.name}) }}">show</a>
                    <a class="btn btn-info" href="{{ path('board_edit', {'name': board.name}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('board_new') }}">Create new</a>
{% endblock %}
