{% extends 'base.html.twig' %}

{% block title %}New Board
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-100">
            <div class="page-header">
                <h1 id="post">Create new Board
                    <a class="btn btn-sm btn-dark float-right" href="{{ path('board_index') }}">back</a>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-50 m-auto">
            {{ include('board/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
