<div class="media p-2 m-2">
  <div class="media-body">
    <h5 class="mt-0">{{ post.title }}<sub class="float-right text-muted">{{ post.created|date("Y-m-d H:i:s") }}</sub></h5>
    <p class="m-0">{{ post.message|nl2br|gt2quote }}</p>
  </div>
</div>