{% extends 'base.html.twig' %}

{% block title %}Post
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1 id="post_show"><a href="{{ path('board_show', {'name': post.board.name}) }}">{{post.board.name }}</a> {{ post.title }}
                </h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-8">
            {% include "post/_post.html.twig" %}
        </div>
        <div class="col-4">
            <div class="sticky-top">
            {% set button_label='Reply' %}
            {{ include('post/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
