{% extends 'secure/admin/index.html.twig' %}

{% block title %}Admin Dashboard - Users
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-g">
            <h3>Create User</h3>
            {{ include('secure/admin/users/_newuser_form.html.twig') }}
        </div>
        <div class="col-g border-left">
            <ul class="list-group user-list">
                {% for user in users %}
                    <li class="list-group-item d-flex space-between align-items-center">
                        {{ user.username }}
                        <div>
                            <div>
                                <a class="btn btn-primary d-block text-center" href="{{ path('admin_users_edit', {'username': user.username}) }}">Edit</a>
                            </div>
                            {{ include('secure/admin/users/_removeuser_form.html.twig') }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
